/* header css*/
.navbar-gradient {
  /*background-image: linear-gradient(62deg, #45567d 0%, #0d1321 100%);*/
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);

}

.navbar-link {
  color: white !important; 
  text-decoration: none !important; 
  margin: 1rem 1rem;
  padding-left: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;

  &.active {
    color: #0275d8 !important;
  }
}


.navbar-link:hover {
  color: #0d1321 !important;
  background-color: #f4f4f4;
  width: 50%;
  border-radius: 55px;
  padding: 1rem;
}

/* Default CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  background-image: linear-gradient(62deg, #45567d 0%, #0d1321 100%) !important;
  color: #fff !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3, h4, h5, h6 {
  margin: 0 , 2.5rem;
  padding: 0;
  line-height: normal;
}

.App {
  text-align: center;
}

/* Banner */

.banner{
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 3rem;
}

.tagline {
  font-weight: 700;
  letter-spacing: 0.9px;
  padding: 1rem;
  border: 2px double rgba(4, 93, 218, 0.5);
  border-radius: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  box-shadow: 0px 0px 50px rgba(236, 236, 238, 0.8);;
}

.typeWriter{
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  display: block;
}

.p {
  line-height: 1.5em;
  width: 90%;
}

.avatar{
  border: 2px double rgba(4, 93, 218, 0.5);
  border-radius: 50%;
  width: 50%;
  box-shadow: 0px 0px 50px rgba(236, 236, 238, 0.8);
  animation: updown 3s linear infinite;
}

@keyframes updown {
0% {
  transform: translateY(-10px);
} 
50% {
  transform: translateY(10px);
}
100% {
  transform: translateY(-10px);
}
}

.wrap {
  border-right: 0.09em solid rgba(4, 93, 218, 0.5);
}

/*Skills*/

.skills{
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.skills-container {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px; 
}

.skills-title{
  font-weight: 700;
  letter-spacing: 0.9px;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  color:#45567d;
}

.skills-h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

.langages  {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}

.langage{
  margin-right: 1.5rem;
  transition: transform 0.3s ease;
}

.langage:hover {
  transform: scale(1.1);
}

.slider  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease;
  color: rgba(4, 93, 218, 0.5);
}

.slider:hover {
  transform: scale(1.1);
}

.logo-name{
  font-size: 1em;
  color: #333;
}

.react-multi-carousel-list {
padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button{
border: none;
background: rgba(4, 93, 218, 0.5);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
background:rgba(4, 93, 218, 0.5) !important;
}

/*projects*/

.project{
  width: 60vw;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 3rem auto;
}

.ProjectCard{
  border: 2px solid #08266d !important;
  box-shadow: 0px 0px 50px rgba(26, 5, 144, 0.5) ;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.project-container {
  
   width: 100%;
   background-color: #f4f4f4;
   padding: 20px;
   border-radius: 15px;
  
   margin: auto;
 }

 .project-title{
  font-weight: 700;
  letter-spacing: 0.9px;
  padding: 1rem;
  font-size: 2rem;
  display: inline-block;
  color:#45567d;
}

.project-p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

.nav.nav-pills{
  padding: 10px; 
  background-color: #f4f4f4; 
}

.nav.nav-pills .nav-link {
  background-color: #f4f4f4 !important;
  color: #0d1321 !important;
  height: 2.5rem;
  margin-right: 10px; 
  border-radius: 25px; 
}

.nav.nav-pills .nav-link:hover {
  background-color: rgba(4, 93, 218, 0.5) !important;
  color: #fff !important;
}

.nav.nav-pills .nav-link.active {
  background-color: #08266d !important;
  color: #f8f9fa !important;
}

/*Contact*/

.contact {
  width: 60vw;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 1.5rem auto;

}

.SendEmail{
  box-shadow: 0px 0px 50px rgba(236, 236, 238, 0.8);
  border: 1px double rgba(4, 93, 218, 0.5);
}

/* Footer*/

.footer{
  width: 100vw;
  background-color: #3a3d40;
  color: white;
  
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*adaptation mobile*/
@media screen and (max-width: 768px) {
  /*skils*/
  .langages  {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  /*Project*/
  .ProjectCard{
    width: 50vw !important;
  }

}




/*adaptation mobile*/
@media screen and (max-width: 480px) {
  /* Banner */
  .banner{
    width: 95vw;
    padding-top: 1rem;
  }

  .tagline {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .typeWriter{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .p {
    width: 80%;
    padding: 1.5rem;
    
  }

  .avatar{
    width: 70%;
  }

  /* Skills */
  .skills{
    width: 90vw;
  }

  .skills-title{
    font-size: 1.5rem;
  }

  .skills-h4 {
    font-size: 1em;
  }

  .langages  {
    flex-direction: column;
    margin-bottom: 0.2rem;
  }

  .react-multi-carousel-list {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    padding: 0;
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px 10px 0;
    transition: transform 0.3s ease;
    color: rgba(4, 93, 218, 0.5);
    width: 38%; 
  }

  /* Projects */
  .project{
    width: 90vw;
  }

  .ProjectCard{
    width: 70vw !important;
  }

  .project-title{
    font-size: 1.5rem;
  }

  .project-p {
    font-size: 1em;
  }

  /* Contact */
  .contact {
    width: 90vw;
  }

  /* Footer */
  .footer{
    width: 100vw;
  }
}
